<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="../style/style.css" rel="stylesheet">
    <title>Nanobeat</title>
  </head>
  <body>
    <div id="hover">
    <div id="navbar" class="sidenav">
      <div class="header">
        <img src="../img/logo.png" class="logo">
        <a href="#" class="title">Nanobeat</a>
      </div>
      <a href="#" class="select">Dashboard</a>
      <a href="../settings/index.html">Settings</a>
    </div>
    
    <div class="popup hide" id="pop">
      <div class="containerPop">
        <a class="txtPop" id="txtPop">Hold the power button of your nanoleaf for 5 seconds</a>
      </div>
    </div>

    <div class="container" id="cont">
      <div id="frame">
        <h1>Dashboard</h1>
        <div class="pack">
          <div class="bsBox">
            <span class="dot" id="indic"></span>
            <a>Beatsaber running</a>
          </div>
          <a id="close">X</a>
        </div>
      </div>

      <div class="info">
        <div class="left">
          <a class="semibold">Devices</a>
          <a id="count">You have {x} devices available</a>  
        </div>
        <div class="right" id="refresh">
          <a>Search</a>
          <img src="../img/refresh.png" class="refresh">
        </div>
      </div>

      <div class="panelContainer" id="pContain">
      
      </div>
    </div>
    </div>
    
  </body>
  <script src="./renderer.js"></script>
</html>