<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="../style/style.css" rel="stylesheet">
    <title>Nanobeat</title>
  </head>
  <body>
    <div id="navbar" class="sidenav">
      <div class="header">
        <img src="../img/logo.png" class="logo">
        <a href="#" class="title">Nanobeat</a>
      </div>
      <a href="../main/index.html">Dashboard</a>
      <a href="#" class="select">Settings</a>
    </div>

    <div class="container">
      <div id="frame">
        <h1>Settings</h1>
        <div class="pack">
          <div class="bsBox">
            <span class="dot" id="indic"></span>
            <a>Beatsaber running</a>
          </div>
          <a id="close">X</a>
        </div>
      </div>

      <div class="settings" id="settings">
        <div class="titleSettings">
          <a class="semibold">Reset</a>
          <a class="infoset">Set all settings to default</a>
        </div>
        <hr>
        <div class="itemSettings">
          <a id="reset" onclick="reset()">Click me</a>
        </div>
      </div>

    </div>


  </body>
  <script src="./renderer.js"></script>
</html>